<h1>Your Events</h1>

<h3>Attended Events</h3>

<h5>Past Events</h5>
<% @user.attended_events.each do |event|%>
  <% if event.date < DateTime.now %>
    <li>
      <%= event.title %>
    </li>
  <% end %>
<% end %>
<br>

<h5>Upcoming Events</h5>
<% @user.attended_events.each do |event|%>
  <% if event.date > DateTime.now %>
    <li>
      <%= event.title %>
    </li>
  <% end %>
<% end %>


<h3>Created Events</h3>

<ul>
  <% @user.created_events.each do |event| %>
    <li>
      <%= event.title %><br>
      <%= event.description %>
    </li>
  <% end %>
</ul>

<%= button_to 'Create New Event', new_event_path, method: :get %>

<%= link_to 'Back to Events', events_path%>