<div class="home-page">
  <h1>Your Events</h1>

  <div class="flex-2">
    <div class="left">
      <h3>Attending/Attended Events</h3>

      <div class="flex">
        <div class="past">
          <h5>Past Events</h5>
          <% @user.attended_events.each do |event|%>
            <% if event.date < DateTime.now %>
              <li>
                <%= event.title %>
              </li>
            <% end %>
          <% end %>
        </div>
        <br>

        <div class="upcoming">
          <h5>Upcoming Events</h5>
          <% @user.attended_events.each do |event|%>
            <% if event.date > DateTime.now %>
              <li>
                <%= event.title %>
              </li>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="right">
      <h3>Created Events</h3>

      <ul>
        <% @user.created_events.each do |event| %>
          <li>
            Title: &nbsp;&nbsp; <%= event.title %>
          </li>
          <li>
          Description: <%= event.description %>
          </li>
        <% end %>
      </ul>

      <%= button_to 'Create New Event', new_event_path, method: :get %>
    </div>
  </div>

  <%= link_to 'Back to Events', events_path%>
</div>