<h1>Your Events</h1>

<h4>Attended Events</h4>
<% @user.attended_events.each do |event|%>
  <li>
    <%= event.title %>
  </li>
<% end %>
<br>

<h4>Created Events</h4>
<ul>
  <% @user.created_events.each do |event| %>
    <li>
      <%= event.title %><br>
      <%= event.description %>
    </li>
  <% end %>
</ul>



<%= button_to 'Create New Event', new_event_path, method: :get %>

<%= link_to 'Back to Events', events_path%>