<!DOCTYPE html>
<html>
  <head>
    <title>ActiveRecordAssociation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav>
      <ul style="display:flex;justify-content:space-between;width:50%">
        <li>
          <% if current_user %>
            <%= current_user.name %>
          <% end %>
        </li>
        <li>
          <% if current_user %>
            <%= link_to 'Your Events', user_path(current_user) %>
          <% end %>
        </li>
        <li>
          <%= link_to 'Home', events_path, method: :get %>
        </li>
        <li>
          <%= link_to 'Sign In', new_user_session_path, method: :get %>
        </li>
        <li>
          <%= link_to 'Sign Up', new_user_registration_path, method: :get %>
        </li>
        <li>
          <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
        </li>
      </ul>
      </nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>

  
</html>
