<!DOCTYPE html>
<html>
  <head>
    <title>ActiveRecordAssociation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav>
        <ul style="display:flex;justify-content:space-between;width:50%">
          <%= show_user_name %>
          <%= show_user_events %>
          <li>
            <%= link_to 'Home', events_path, method: :get %>
          </li>
          <%= show_sign_in_and_sign_up %>
          <%= show_sign_out %>
        </ul>
      </nav>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>

  
</html>
